{% extends 'home/nav.html' %}
{% load static %}




<body>
    {% block content %}
    <!-- Home -->
    <section class="home" id="home">
        <div class="text">
            <h1><span>Looking</span> to <br>Buying a car</h1>
            <p>Best Car Buying website most famous brand website include bmw rollroyce Honda ferrari many more   <br>
                Rent more pay less.
            </p>
            <div class="app-stores">
                <a href="#"> <img src="{% static 'img/ios6.png' %}" alt=""></a>
                <a href="#"><img src="{% static 'img/play2.png' %}" alt=""></a>
            </div>
        </div>

        <form action="">
            <div class="form-container">
                <div class="input-box">
                    <span>Company</span>
                    <input type="search" name="" id="" placeholder="Search comapny">
                </div>
                <div class="input-box">
                    <span>Name</span>
                    <input type="search" name="" id="" placeholder="Search Name">
                </div>
                <div class="input-box">
                    <span>Price</span>
                    <input type="search" name="" id="" placeholder="Search price">
                </div>
                <input type="submit" name="" id="" class="btn">
            </div>
        </form>
    </section>


    <!-- Ride -->
    <section class="ride" id="ride">
        <div class="heading">
            <span>How It Works</span>
            <h1>Buy With 3 Easy Steps</h1>
        </div>
        <div class="ride-container">
            <div class="box">
                <i class="bx bxs-map"></i>
                <h2>Choose a location</h2>
                <p>Any location any where in the world from earth to mars india to england asia to antartica delhi to mumbai village to city. Carpido is here for you. </p>
            </div>
            
            <div class="box">
                <i class='bx bxs-calendar-check'></i>
                <h2>Pick-Up Date</h2>
                <p> pick your date Book your car then pay Give me your pickup date I will give your car for riding.Go and enjoy your life with your family and friends. </p>
            </div>

            <div class="box">
                <i class='bx bxs-calendar-star'></i>
                <h2>Book A Car</h2>
                <p>Book your car pick your date then pay Book various car with Good rate  I will give your car for riding.Go and enjoy your life with your family. </p>
            </div>

    
        </div>
    </section>

    <!-- Services -->
    <section class="services" id="services">
        <div class="heading">
            <span>Best Services</span>
            <h1>Explore Out Top Deals <br>From Top Rated Dealers
            </h1>
        </div>

        
        <div class="services-container">
            {% for cars in car  %}
            <div class="box">
                <div class="box-img">
                    <img src="{{cars.images.url}}" alt="">
                </div>
                <p><a href="{% url 'detail' cars.uid %}" >View</a></p>
                <h3>{{cars.car_name}}</h3>
                <h2>{{cars.price}} <span>₹</span> </h2>
                {% if user.is_authenticated %}
        <a href="{% url 'add_cart' cars.uid %}" class="btn">Rent Now</a>
        {% else %}
        <a href="{% url 'Login' %}" class="btn">Rent Now</a>
        {% endif %}
                
                {% comment %} <p>  <a href="{% url 'detail' detail_uid %}" class="btn btn-success"> View</a> </p> {% endcomment %}
            </div>
            {% endfor %}
        </div>
    </section>

    <!-- About -->
    <section class="about" id="about">
        <div class="heading">
            <span>About Us</span>
            <h1>Best Customer Experience</h1>
        </div>
        <div class="about-container">
            <div class="about-img">
                <img src="{% static 'img/cc1.jpg' %}" alt="about.jpg">
            </div>
            <div class="about-text">
                <span>About Us</span>
                <p>We are <strong style='color:orange;'> Carpido </strong> a car renting website with best customer experience award 2020 2021 2022. we started this company in 2020 in  three years journey. we achieved highest no. of users. </p>
                <p>Our mission statement is provide best customer experience for your users.</p>
                <a href="#" class="btn">Learn More</a>
            </div>
        </div>
    </section>


    <!-- Reviews -->
    <section class="reviews" id="reviews">
        <div class="heading">
            <span>Reviews</span>
            <h1>What Our Customers Say</h1>
        </div>
        <div class="reviews-container">
            <div class="box">
                <div class="rev-img">
                    <img src="{% static 'img/rev1.jpeg' %}" alt="rev1.jpg">
                </div>
                <h2>Rencho Baba</h2>
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star' ></i>
                </div>
                <p>Best car Buying website good car with good condition. I like this car me and my friends enjoying the long ride.</p>
            </div>
            <div class="box">
                <div class="rev-img">
                    <img src="{% static 'img/rev2.jpg' %}" alt="rev1.jpg">
                </div>
                <h2>Ak</h2>
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star' ></i>
                </div>
                <p>I'm a f1 racer. They have very good racing car at low price. I buy a car and win that competition</p>
            </div>
            <div class="box">
                <div class="rev-img">
                    <img src="{% static 'img/rev3.jpg' %}" alt="rev1.jpg">
                </div>
                <h2>Angelia</h2>
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star-half' ></i>
                </div>
                <p>Me and my friends decided to go for a long drive and we buy a car with less price and save so much money. I'm fully statsified with their service.  </p>
            </div>
        </div>
    </section>


    <!-- Newsletter -->
    <section class="newsletter">
        <h2>Subscribe To Newsletter</h2>
        <div class="box">
            <input type="email" name="email" id="" placeholder="Enter Your Email...">
            <a href="#" class="btn" >Subscribe</a>
        </div>
    </section>
    <div class="copyright">
        <p style="text-align: center;">&#169; Parker-Car-Rent All Right Reserved 2022</p>
        <div class="social">
            <a href="#"><i class='bx bxl-facebook' ></i></a>
            <a href="#"><i class='bx bxl-twitter' ></i></a>
            <a href="#"><i class='bx bxl-instagram' ></i></a>
        </div>
    </div>
    {% endblock content %}

<!-- Scroll Reveal -->
