{% extends 'home/base.html' %}
{% block content %}

<br>
<br>
<br>
<div class="services-container">
    {% for cars in car  %}
    <div class="box">
        <div class="box-img">
            <img src="{{cars.images.url}}" alt="">
        </div>
        <p><a href="{% url 'detail' cars.uid %}" >View</a></p>
        <h3>{{cars.car_name}}</h3>
        <h2>{{cars.price}} <span>Day</span> </h2>
        {% if user.is_authenticated %}
        <a href="{% url 'add_cart' cars.uid %}" class="btn">Rent Now</a>
        {% else %}
        <a href="{% url 'Login' %}" class="btn">Rent Now</a>
        {% endif %}
        
        {% comment %} <p>  <a href="{% url 'detail' detail_uid %}" class="btn btn-success"> View</a> </p> {% endcomment %}
    </div>
    {% endfor %}
</div>
<center>
    {%if car.has_previous %} {# whether the previous page exists #}
        <a href="?page={{car.previous_page_number}}"><</a> {# link to the prev page #}
    {% endif %}
    <span>{{car.number}}</span> {# the current page number #}
    
    {%if car.has_next %} {# whether the next page exists #}
        <a href="?page={{car.next_page_number}}">></a> {# link to the next page #}
    {% endif %}
</center>

{% endblock content %}